
body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size:16px;
}

.w3-half img {
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer
}

.w3-half img:hover {
    opacity:1
}

.w3-metro-dark-purple {
    color:#fff;
    background-color:#603cba;
}

.w3-text-metro-dark-purple {
    color:#603cba;
}

.w3-metro-teal {
    color:#fff;
    background-color:#00aba9;
}

.w3-text-metro-teal {
    color:#00aba9;
}

.hidden {
    display: none;
}

.display_inline {
    display: inline-block;
}