{% extends 'base.html' %}
{% block content %}

  {% if "user" not in session %}
    <h2>TODO: Create an account</h2>
    <div id="signup-form">
        <form action="/signup" method="post">
          <label>1. What's your name?<br>
            <input type="text" name="name" maxlength="64" required><br>
          </label>
          <label>2. What's your email address?<br>
            <input type="email" name="email" id="email" maxlength="64" required><br>
          </label>
          <label>3. Create a password.<br>
            <input type="password" name="pw" id="pw" minlength="8" maxlength="64" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." onchange="passwordsMatch(this)" required><br>
          </label>
          <label>4. Confirm your password.<br>
            <input type="password" name="pw_confirm" id="pw_confirm" minlength="8" maxlength="64" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." onchange="passwordsMatch(this)" required><br>
          </label>
          <input type="submit" value="Sign Up!">
        </form>
        <a href="/signup">Create an account</a>
    </div>
  {% else %}
    <p>You've already created your account.</p>
  {% endif %}

  <script>
    function passwordsMatch(currentInput){
        var pw = document.getElementById("pw").value;
        var pw_confirm = document.getElementById("pw_confirm").value;
        if (pw_confirm != "" && pw != pw_confirm){
            currentInput.setCustomValidity('Passwords must match.');
        }else{
            currentInput.setCustomValidity('');
        }
    }
  </script>


{% endblock %}