{% extends 'base.html' %}
{% block content %}

  {% if "user" not in session %}
  <header class="w3-container" style="margin-top:80px; margin-right:300px;" id="header">
    <h1 class="w3-jumbo"><b>TADA 🎉</b></h1>
    <h2 class="w3-xlarge w3-text-metro-teal"><b>Got lots to do today? Let's get it done!</b></h2>
    <hr style="width:50px;border:5px solid #603cba" class="w3-round">
  </header>

  <div class="w3-container" id="signup-form" style="margin-right:300px">
    <h3 class="w3-xxxlarge w3-text-metro-teal">TODO: Create an account</h3>
      <form action="/signup" method="post">
        <div class="w3-section">
          <label>1. What's your name?<br>
            <input class="w3-input w3-border" type="text" name="name" maxlength="64" required><br>
          </label>
        </div>
        <div class="w3-section">
          <label>2. What's your email address?<br>
            <input class="w3-input w3-border" type="email" name="email" id="email" maxlength="64" required><br>
          </label>
        </div>
        <div class="w3-section">
          <label>3. Create a password.<br>
            <input class="w3-input w3-border" type="password" name="pw" id="pw" minlength="8" maxlength="64" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." onchange="passwordsMatch(this)" required><br>
          </label>
        </div>
        <div class="w3-section">
          <label>4. Confirm your password.<br>
            <input class="w3-input w3-border" type="password" name="pw_confirm" id="pw_confirm" minlength="8" maxlength="64" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." onchange="passwordsMatch(this)" required><br>
          </label>
        </div>
        <button type="submit" value="Sign Up!" class="w3-button w3-block w3-padding-large w3-metro-dark-purple w3-margin-bottom">Sign Up!</button>
      </form>
    </div>
  {% else %}
    <p>You've already created your account.</p>
  {% endif %}

  <script>
    function passwordsMatch(currentInput){
        var pw = document.getElementById("pw").value;
        var pw_confirm = document.getElementById("pw_confirm").value;
        if (pw_confirm != "" && pw != pw_confirm){
            currentInput.setCustomValidity('Passwords must match.');
        }else{
            currentInput.setCustomValidity('');
        }
    }
  </script>


{% endblock %}